@media print {
    body * {
        visibility: hidden;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
    }
    #settle_div, #settle_div * {
        visibility: visible !important;
        margin: 0px auto;
        padding: 0px auto;
        font-size: 12px;
    }
    #settle_div {
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: auto;
    }
}