@media print {
    body * {
        visibility: hidden;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
    }
    #report_div, #report_div * {
        visibility: visible !important;
        margin: 0;
        padding: 0;
        font-size: 10px;
    }
    #report_div {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
    }
}