.top-margin-50 {
  margin-top: 50px;
}

.t-border {
  border-style: dotted;
}

.red-text {
  color: #CF000F;
}

.top-margin-10 {
  margin-top: 10px;
}

.top-margin-20 {
  margin-top: 20px;
}


.top-margin-30 {
  margin-top: 30px;
}


.top-margin-40 {
  margin-top: 40px;
}

.div-to-center {
  justify-content: center;
}

.div-hide {
  display: none;
}

.top-padding-10 {
  padding-top: 10px;
}

.pointer {
  cursor: pointer;
}

.pagination {
  float: right;
  padding-right: 1%;
}


#order_table_length, #order_table_info, #order_table_paginate{
  /*display: none;*/
}

#order_table_filter input{
  border-radius: 8px;
}

.tableList {
  width: 150px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.table-box-100 {
  width: 105px;
  height: 100px;
}

.tableList:hover {
  background-color: #BDC3C7;
}

#table_div_x_content {
  background-color: #ecf0f1;
  border-radius: 5px;
}

#crop-avatar {
  width: 70%;
}


#order_payment_div {
  margin-top: 150px;
  width: 400px;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 40%;
}

#order_payment_div .modal-header {
  border-bottom: none;
  height: 0px;
}

/*body {*/
  /*-webkit-touch-callout: none; !* iOS Safari *!*/
  /*-webkit-user-select: none; !* Safari *!*/
  /*-khtml-user-select: none; !* Konqueror HTML *!*/
  /*-moz-user-select: none; !* Firefox *!*/
  /*-ms-user-select: none; !* Internet Explorer/Edge *!*/
  /*user-select: none; !* Non-prefixed version, currently*/
                                  /*supported by Chrome and Opera *!*/
/*}*/


@media print {
  body * {
    visibility: hidden;
  }

  #view_cart_modal *{
    visibility: visible;
  }

  #view_cart_modal{
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    margin-top: 0px !important;
    font-size: 8px !important;
  }
  #view_cart_modal .modal-footer, #view_cart_modal  .modal-header{
    visibility: hidden;
    display: none;
  }

}


.taka-icon {
  font-size: 30px;
}


#logo-icon {
  width: 25%;
  margin: 5px;
}

.logo-icon-preview {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.nav-sm #logo-icon {
  width: 50%;
}


.strike {
  text-decoration: line-through;
}


.ranges ul>li{
  height: 50px;
  text-align: center;
  color: white;
  font-size: x-large;
  padding-top: 6px;
}

#ranges_nav {
  height: 60em;
  overflow: scroll;
  overflow-x: hidden;
}



